body {
    background-color: #17596d;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('Image/photo.jpg');
    background-size: cover;  /* Pour ajuster la taille de l'image */
    background-position: center; /* Pour centrer l'image */
}

body {
    margin: 0;
}

#container {
    width: 80%; /* Vous pouvez ajuster la largeur ici */
    max-width: 800px; /* Ajout d'une largeur maximale pour éviter un conteneur trop large sur des écrans larges */
    margin: 0 auto;
    margin-top: 10%;
    background: url('Image/photo.jpg') center/cover; /* Ajoutez cette ligne pour définir l'image en arrière-plan */
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    width: 100%; /* Ajuster la largeur du formulaire pour remplir le conteneur */
    max-width: 600px; /* Ajout d'une largeur maximale pour le formulaire */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#container h1 {
    text-align: center;
    padding-bottom: 10px;
    color: #333;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type=submit],
input[type=button] {
    background-color: #07d5f0;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #07d5f0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #07d5f0;
    font-weight: bold;
    color: white;
}
